*.gz filter=lfs diff=lfs merge=lfs -text
CF_Example/results/trnResults.csv filter=lfs diff=lfs merge=lfs -text
CF_Example/results/tstResults.csv filter=lfs diff=lfs merge=lfs -text
Model1/results/trnResults.csv filter=lfs diff=lfs merge=lfs -text
Model1/results/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2776/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2776/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2792/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2792/tstResults.csv filter=lfs diff=lfs merge=lfs -text
Model1/results/trnSampleResults.csv filter=lfs diff=lfs merge=lfs -text
Model1/results/tstSampleResults.csv filter=lfs diff=lfs merge=lfs -text
*calc*/*.csv filter=lfs diff=lfs merge=lfs -text
results/calc2814/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2814/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2824/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2824/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2825/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2825/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2866/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2866/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2867/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2867/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2876/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2876/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2891/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2891/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2893/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2893/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2924/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2924/tstResults.csv filter=lfs diff=lfs merge=lfs -text
resurlts/calc*/*.csv filter=lfs diff=lfs merge=lfs -text
results/calc2934/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2934/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2958/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2958/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2963/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc2963/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3001/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3001/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3053/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3053/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3061/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3061/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3089/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3089/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3090/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3090/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3107/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3107/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3187/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3187/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3857/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3857/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3865/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3865/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3866/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3866/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4155/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4155/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4156/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4156/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3665/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc3665/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4226/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4226/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4227/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4227/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4229/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc4229/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc6192/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc6192/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc6242/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc6242/tstResults.csv filter=lfs diff=lfs merge=lfs -text
result/calc*/*.csv filter=lfs diff=lfs merge=lfs -text
results/calc6600/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc6600/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7048/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7048/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7050/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7050/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7231/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7231/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7232/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7232/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7294/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7294/tstResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7295/trnResults.csv filter=lfs diff=lfs merge=lfs -text
results/calc7295/tstResults.csv filter=lfs diff=lfs merge=lfs -text
